@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu:wght@300&display=swap');
@import url('nouislider/dist/nouislider.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  background: url(./assets/img/bg.webp) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
}

#root {
	width: 100%;
	.App {
		color: #fff;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    height: 100%;
	}
}

.container {
  margin: 0 auto;
  width: 1600px;
}

#main .container {
	display: flex;
	flex-direction: column;
}

@import './components/main/header/Header.scss';
@import './components/main/Main/Main.scss';
@import './components/main/footer/Footer.scss';

#quantitySlider {
	margin: 0 auto;
	width: 1280px;
}

@media(max-width: 1702px) {
  #header {
    .container {
      width: 100%;
      padding: 0;
			.logo {
				margin-left: 15px;
			}
			.fav {
				margin-right: 15px;
			}
    }
  }
  #main {
    .container {
      width: 100%;
    }
  }
}

@media(max-width: 1480px) {
  #header {
    .container {
      width: 100%;
      padding: 0;
    }
  }
  #main {
    .container {
      width: 100%;
    }
  }
	.filtersWrapper {
		grid-template-columns: repeat(2, 1fr);
	}
	.listingWrapper {
		grid-template-columns: repeat(4, 1fr);
	}
}


@media(max-width: 982px) {
	.filtersWrapper {
		grid-template-columns: repeat(1, 1fr);
	}
	.listingWrapper {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media(max-width: 768px) {
	.listingWrapper {
		grid-template-columns: repeat(2, 1fr);
	}
	#header {
    .container {
			.logo {
				background-size: 36px 60px;
			}
			.fav {
				width: 60px;
			}
    }
  }
}


@media(max-width: 486px) {
	.listingWrapper {
		grid-template-columns: repeat(1, 1fr);
	}
}